<h3>ChildPage</h3>

<button class="btn btn-primary" @onclick="OnRemoteIncrementCount">... or Click me to Do It</button>

@code {

    [Parameter] public EventCallback OnRemoteIncrementCount { get; set; } 

}
